<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h1>Joke Generator</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div v-if="error">
                    <div class="alert alert-danger" role="alert">
                        An unexpected error occured.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"
                            >How many jokes would you like to generate?</label
                        >
                        <select class="form-control" v-model="form.amount">
                            <option v-for="i in maxOptions" :key="i">{{
                                i
                            }}</option>
                        </select>
                    </div>
                    <button
                        class="btn btn-primary btn-generate"
                        type="submit"
                        :disabled="busy"
                        @click.prevent="onSubmit"
                    >
                        Generate
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div v-if="jokes.length > 0" class="mt-3">
                    <p>Here are all of your generated jokes:</p>
                    <ol>
                        <li v-for="joke in jokes" :key="joke.id">
                            {{ joke.joke }}
                        </li>
                    </ol>
                </div>
                <div v-if="busy" class="mt-3">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "joke-generator",
    data() {
        return {
            maxOptions: 20,
            form: {
                amount: 1
            },
            busy: false,
            error: false,
            jokes: []
        };
    },
    methods: {
        /**
         * Handle the submission of the joke generator form.
         */
        onSubmit() {
            this.busy = true;
            this.error = false;
            this.jokes = [];

            // post request to backend
            axios
                .post("/joke/generate", this.form)
                .then(res => {
                    if (res.data.success) {
                        this.jokes = res.data.jokes;
                    } else {
                        this.error = true;
                    }

                    this.busy = false;
                })
                .catch(e => {
                    this.error = true;
                    this.busy = false;
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.joke-generator-container {
    margin-top: 30px;
}
.btn-generate {
    width: 100%;
}
</style>
